.topbar {
  height: 64px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
}

.topbar input {
  width: 300px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
}